<!DOCTYPE html>
<html lang="en" ng-app="bbq-pi">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/<%= grunt.config.get('pkg.version') %>/<%= grunt.config.get('pkg.name') %>.css"/>
    <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.version') %>/angular.js"></script>
    <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.version') %>/<%= grunt.config.get('pkg.name') %>.js"></script>
</head>

<body ng-controller="AppCtrl">

    <div id="screen">
        <div ng-repeat="t in temps track by $index" class="trow">
            <span class="thead">T{{ $index + 1 }}:</span> <span class="tvalue">{{ t | number : 1 }}°C</span>
        </div>
    </div>

</body>
</html>